@font-face {
    font-family: Eraser;
    src: url("assets/fonts/EraserDust.ttf");
 }
*{
    text-align: center;
    font-family: "Eraser";
    color:whitesmoke !important;
    font-weight: bolder;
     margin:0px;
 }
 #main{
   width:99%;
     height: 97%;
 position: fixed;
 background: rgb(14,203,71);
 background: radial-gradient(circle, rgba(14,203,71,1) 0%, rgba(68,212,23,1) 100%);
 border-width: 10px;
 border-style: groove;
 border-color: brown;
 }
 h1
 {
     font-size: 60px;
 }

 table{
     width:100%;
 }
 select,input{
     background-color:black;
 }
 .min{
     position: relative;
     float: right;
     width:60%;
 }

 /* CARD CSS */

 .card {
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    background-color:crimson;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

 