@font-face {
    font-family: Eraser;
    src: url("assets/fonts/EraserDust.ttf");
 }
*{
    text-align: center;
    font-family: "Eraser";
    color:whitesmoke !important;
    font-weight: bolder;
     margin:0px;
 }

html {
    min-height: 100%;
}

*{
    background: rgb(57,254,30)!important;
    background: linear-gradient(90deg, rgba(57,254,30,1) 0%, rgba(10,224,132,1) 49%)!important;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    border-radius: 45px;
    border:dashed 5px  #6a0074; 
    color: white;
 }